/* src/components/navbar.css */

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.navbar li a {
  display: block;
  color: #555;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.navbar li a:hover {
  color: #4a90e2;
}